/* Colors */
$body-color: #fff;
$white: #fff;
$secondary-color: #fbc212;
$secondary-color-light: #fdebb3;
$black: #282725;
$gray: #5d5b56;
$footer-color: #fde59a;

/* Typography and Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
$body-font: "Poppins", sans-serif;

$font-light: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

/* Sizes */
